//- .divider.hide-on-med-and-down
//- footer.page-footer.white.hide-on-med-and-down
.divider
footer.page-footer.white
    .container
        h4.header.light.teal-text Dayshmookh Pictures
        p.light.black-text Nagpur
    .footer-copyright
        .container
            a(href="http://krushndayshmookh.github.io") Designed by Krushn Dayshmookh
