//- .divider.hide-on-med-and-down
//- footer.page-footer.white.hide-on-med-and-down
footer.page-footer.grey.darken-4
    .container
        .row
            .col.s12.m6
                h4.header.light.yellow-text.text-darken-4 Dayshmookh Pictures
                p.light Nagpur
    .footer-copyright
        .container
            .row
                .col.s12
                    a(href="http://krushndayshmookh.github.io") Designed by Krushn Dayshmookh
