.navbar-fixed
    nav.grey.darken-4
        .nav-wrapper
            a.yellow-text.text-darken-4(data-target="slide-out" href="#").sidenav-trigger
                i.material-icons menu
            a.brand-logo(href="/") Dayshmookh Pictures

            ul.right.hide-on-med-and-down
                li
                    a.yellow-text.text-darken-4(href="/") Home
                li
                    a.yellow-text.text-darken-4(href="/services") Services
                li
                    a.yellow-text.text-darken-4(href="/about") About
                li
                    a.yellow-text.text-darken-4(href="/contact") Contact


ul#slide-out.sidenav
    li
        a(href="/") Home
            //- i.material-icons.left home
    li
        a(href="/services") Services
    li
        a(href="/about") About
    li
        a(href="/contact") Contact