doctype html
//-Dayshmookh Pictures
head
	title Elements - Dayshmookh Pictures
	meta(charset="utf-8")
	meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")
	link(rel="stylesheet" href="/css/main.css")
#page-wrapper
	//-Header
	header#header
		h1
			a(href="index.html") Dayshmookh Pictures
		nav#nav
			ul
				li
					a(href="index.html") Home
				li
					a.icon.solid.fa-angle-down(href="#") Layouts
					ul
						li
							a(href="generic.html") Generic
						li
							a(href="contact.html") Contact
						li
							a(href="elements.html") Elements
						li
							a(href="#") Submenu
							ul
								li
									a(href="#") Option One
								li
									a(href="#") Option Two
								li
									a(href="#") Option Three
								li
									a(href="#") Option Four
				li
					a.button(href="#") Sign Up
	//-Main
	section#main.container
		header
			h2 Elements
			p Just an assorted selection of elements.
		.row
			.col-12
				//-Text
				section.box
					h3 Text
					p
						| This is 
						b bold
						|  and this is 
						strong strong
						| . This is 
						i italic
						|  and this is 
						em emphasized
						| .
						| 									This is 
						sup superscript
						|  text and this is 
						sub subscript
						|  text.
						| 									This is 
						u underlined
						|  and this is code: 
						code for (;;) { ... }
						| . Finally, 
						a(href="#") this is a link
						| .
					hr
					header
						h3 Heading with a Subtitle
						p Lorem ipsum dolor sit amet nullam id egestas urna aliquam
					p
						| Nunc lacinia ante nunc ac lobortis. Interdum adipiscing gravida odio porttitor sem non mi integer non faucibus ornare mi ut ante amet placerat aliquet. Volutpat eu sed ante lacinia sapien lorem accumsan varius montes viverra nibh in adipiscing blandit tempus accumsan.
					header
						h4 Heading with a Subtitle
						p Lorem ipsum dolor sit amet nullam id egestas urna aliquam
					p
						| Nunc lacinia ante nunc ac lobortis. Interdum adipiscing gravida odio porttitor sem non mi integer non faucibus ornare mi ut ante amet placerat aliquet. Volutpat eu sed ante lacinia sapien lorem accumsan varius montes viverra nibh in adipiscing blandit tempus accumsan.
					hr
					h2 Heading Level 2
					h3 Heading Level 3
					h4 Heading Level 4
					h5 Heading Level 5
					h6 Heading Level 6
					hr
					h4 Blockquote
					blockquote
						| Fringilla nisl. Donec accumsan interdum nisi, quis tincidunt felis sagittis eget tempus euismod. Vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan faucibus. Vestibulum ante ipsum primis in faucibus lorem ipsum dolor sit amet nullam adipiscing eu felis.
					h4 Preformatted
					pre.
						\ni = 0;
						
						\twhile (!deck.isInOrder()) {
						\t    print 'Iteration ' + i;
						\t    deck.shuffle();
						\t    i++;
						\t}
						
						\tprint 'It took ' + i + ' iterations to sort the deck.';
						\t						
		.row
			.col-12
				//-Lists
				section.box
					h3 Lists
					.row
						.col-6.col-12-mobilep
							h4 Unordered
							ul
								li Dolor pulvinar etiam magna etiam.
								li Sagittis adipiscing lorem eleifend.
								li Felis enim feugiat dolore viverra.
							h4 Alternate
							ul.alt
								li Dolor pulvinar etiam magna etiam.
								li Sagittis adipiscing lorem eleifend.
								li Felis enim feugiat dolore viverra.
						.col-6.col-12-mobilep
							h4 Ordered
							ol
								li Dolor pulvinar etiam magna etiam.
								li Etiam vel felis at lorem sed viverra.
								li Felis enim feugiat dolore viverra.
								li Dolor pulvinar etiam magna etiam.
								li Etiam vel felis at lorem sed viverra.
								li Felis enim feugiat dolore viverra.
							h4 Icons
							ul.icons
								li
									a.icon.brands.fa-twitter(href="#")
										span.label Twitter
								li
									a.icon.brands.fa-facebook-f(href="#")
										span.label Facebook
								li
									a.icon.brands.fa-instagram(href="#")
										span.label Instagram
								li
									a.icon.brands.fa-github(href="#")
										span.label Github
								li
									a.icon.brands.fa-dribbble(href="#")
										span.label Dribbble
								li
									a.icon.brands.fa-tumblr(href="#")
										span.label Tumblr
					h4 Actions
					ul.actions
						li
							a.button.special(href="#") Default
						li
							a.button(href="#") Default
						li
							a.button.alt(href="#") Default
					ul.actions.small
						li
							a.button.special.small(href="#") Small
						li
							a.button.small(href="#") Small
						li
							a.button.alt.small(href="#") Small
					.row
						.col-3.col-6-narrower.col-12-mobilep
							ul.actions.stacked
								li
									a.button.special(href="#") Default
								li
									a.button(href="#") Default
								li
									a.button.alt(href="#") Default
						.col-3.col-6-narrower.col-12-mobilep
							ul.actions.stacked
								li
									a.button.special.small(href="#") Small
								li
									a.button.small(href="#") Small
								li
									a.button.alt.small(href="#") Small
						.col-3.col-6-narrower.col-12-mobilep
							ul.actions.stacked
								li
									a.button.special.fit(href="#") Default
								li
									a.button.fit(href="#") Default
								li
									a.button.alt.fit(href="#") Default
						.col-3.col-6-narrower.col-12-mobilep
							ul.actions.stacked
								li
									a.button.special.small.fit(href="#") Small
								li
									a.button.small.fit(href="#") Small
								li
									a.button.alt.small.fit(href="#") Small
		.row
			.col-12
				//-Table
				section.box
					h3 Table
					h4 Default
					.table-wrapper
						table
							thead
								tr
									th Name
									th Description
									th Price
							tbody
								tr
									td Something
									td Ante turpis integer aliquet porttitor.
									td 29.99
								tr
									td Nothing
									td Vis ac commodo adipiscing arcu aliquet.
									td 19.99
								tr
									td Something
									td  Morbi faucibus arcu accumsan lorem.
									td 29.99
								tr
									td Nothing
									td Vitae integer tempus condimentum.
									td 19.99
								tr
									td Something
									td Ante turpis integer aliquet porttitor.
									td 29.99
							tfoot
								tr
									td(colspan="2")
									td 100.00
					h4 Alternate
					.table-wrapper
						table.alt
							thead
								tr
									th Name
									th Description
									th Price
							tbody
								tr
									td Something
									td Ante turpis integer aliquet porttitor.
									td 29.99
								tr
									td Nothing
									td Vis ac commodo adipiscing arcu aliquet.
									td 19.99
								tr
									td Something
									td  Morbi faucibus arcu accumsan lorem.
									td 29.99
								tr
									td Nothing
									td Vitae integer tempus condimentum.
									td 19.99
								tr
									td Something
									td Ante turpis integer aliquet porttitor.
									td 29.99
							tfoot
								tr
									td(colspan="2")
									td 100.00
		.row
			.col-12
				//-Buttons
				section.box
					h3 Buttons
					ul.actions
						li
							a.button.special(href="#") Special
						li
							a.button(href="#") Default
						li
							a.button.alt(href="#") Alternate
					ul.actions
						li
							a.button.special.big(href="#") Big
						li
							a.button(href="#") Default
						li
							a.button.alt.small(href="#") Small
					ul.actions.fit
						li
							a.button.special.fit(href="#") Fit
						li
							a.button.fit(href="#") Fit
						li
							a.button.alt.fit(href="#") Fit
					ul.actions.fit.small
						li
							a.button.special.fit.small(href="#") Fit + Small
						li
							a.button.fit.small(href="#") Fit + Small
						li
							a.button.alt.fit.small(href="#") Fit + Small
					ul.actions
						li
							a.button.special.icon.solid.fa-search(href="#") Icon
						li
							a.button.icon.solid.fa-download(href="#") Icon
						li
							a.button.alt.icon.solid.fa-check(href="#") Icon
					ul.actions
						li
							span.button.special.disabled Special
						li
							span.button.disabled Default
						li
							span.button.alt.disabled Alternate
		.row
			.col-12
				//-Form
				section.box
					h3 Form
					form(method="post" action="#")
						.row.gtr-uniform.gtr-50
							.col-6.col-12-mobilep
								input#name(type="text" name="name" value="" placeholder="Name")
							.col-6.col-12-mobilep
								input#email(type="email" name="email" value="" placeholder="Email")
							.col-12
								select#category(name="category")
									option(value="") - Category -
									option(value="1") Manufacturing
									option(value="1") Shipping
									option(value="1") Administration
									option(value="1") Human Resources
							.col-4.col-12-narrower
								input#priority-low(type="radio" name="priority" checked="")
								label(for="priority-low") Low Priority
							.col-4.col-12-narrower
								input#priority-normal(type="radio" name="priority")
								label(for="priority-normal") Normal Priority
							.col-4.col-12-narrower
								input#priority-high(type="radio" name="priority")
								label(for="priority-high") High Priority
							.col-6.col-12-narrower
								input#copy(type="checkbox" name="copy")
								label(for="copy") Email me a copy of this message
							.col-6.col-12-narrower
								input#human(type="checkbox" name="human" checked="")
								label(for="human") I am a human and not a robot
							.col-12
								textarea#message(name="message" placeholder="Enter your message" rows="6")
							.col-12
								ul.actions
									li
										input(type="submit" value="Send Message")
									li
										input.alt(type="reset" value="Reset")
					hr
					form(method="post" action="#")
						.row.gtr-uniform.gtr-50
							.col-9.col-12-mobilep
								input#query(type="text" name="query" value="" placeholder="Query")
							.col-3.col-12-mobilep
								input.fit(type="submit" value="Search")
		.row
			.col-12
				//-Image
				section.box
					h3 Image
					h4 Fit
					span.image.fit
						img(src="images/pic04.jpg" alt="")
					.box.alt
						.row.gtr-50.gtr-uniform
							.col-4
								span.image.fit
									img(src="images/pic04.jpg" alt="")
							.col-4
								span.image.fit
									img(src="images/pic04.jpg" alt="")
							.col-4
								span.image.fit
									img(src="images/pic04.jpg" alt="")
							.col-4
								span.image.fit
									img(src="images/pic04.jpg" alt="")
							.col-4
								span.image.fit
									img(src="images/pic04.jpg" alt="")
							.col-4
								span.image.fit
									img(src="images/pic04.jpg" alt="")
							.col-4
								span.image.fit
									img(src="images/pic04.jpg" alt="")
							.col-4
								span.image.fit
									img(src="images/pic04.jpg" alt="")
							.col-4
								span.image.fit
									img(src="images/pic04.jpg" alt="")
					h4 Left & Right
					p
						span.image.left
							img(src="images/pic05.jpg" alt="")
						| Fringilla nisl. Donec accumsan interdum nisi, quis tincidunt felis sagittis eget. tempus euismod. Vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque praesent tincidunt felis sagittis eget. tempus euismod. Vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque praesent. Donec accumsan interdum nisi, quis tincidunt felis sagittis eget. tempus euismod. Vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque praesent tincidunt felis sagittis eget. tempus euismod. Vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque praesent.
					p
						span.image.right
							img(src="images/pic05.jpg" alt="")
						| Fringilla nisl. Donec accumsan interdum nisi, quis tincidunt felis sagittis eget. tempus euismod. Vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque praesent tincidunt felis sagittis eget. tempus euismod. Vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque praesent. Donec accumsan interdum nisi, quis tincidunt felis sagittis eget. tempus euismod. Vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque praesent tincidunt felis sagittis eget. tempus euismod. Vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque praesent.
	//-Footer
	footer#footer
		ul.icons
			li
				a.icon.brands.fa-twitter(href="#")
					span.label Twitter
			li
				a.icon.brands.fa-facebook-f(href="#")
					span.label Facebook
			li
				a.icon.brands.fa-instagram(href="#")
					span.label Instagram
			li
				a.icon.brands.fa-github(href="#")
					span.label Github
			li
				a.icon.brands.fa-dribbble(href="#")
					span.label Dribbble
			li
				a.icon.brands.fa-google-plus(href="#")
					span.label Google+
		ul.copyright
			li
				| © Dayshmookh Pictures. All rights reserved.
//-Scripts
script(src="/js/jquery.min.js")
script(src="/js/jquery.dropotron.min.js")
script(src="/js/jquery.scrollex.min.js")
script(src="/js/browser.min.js")
script(src="/js/breakpoints.min.js")
script(src="/js/util.js")
script(src="/js/alpha.js")
