extends components/layout.pug

block styles

block content
    section
        .parallax-container
            .parallax
                img.dark(src="/images/office.jpg", alt="")

block scripts
    
